@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.start-page {
    display: flex;
}

.start-page div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start-page div:nth-child(1) {
    flex-basis: 55%;
    background-color: rgb(196, 127, 23);
    color: #ffffff;
}

.start-page div:nth-child(2) {
    flex-basis: 45%;
    background-color: rgb(226, 167, 77);
    color: #ffffff;
}

.start-page div h1 {
    margin: 2rem;
    font-size: 3rem;
}

.start-page div p {
    margin: 2rem;
    font-size: 1.5rem;
    text-align: justify;
}

.start-button {
    padding: 1.1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(207, 181, 35);
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 1px rgb(143, 123, 10);
    transition: all 0.3s ease-in;
}

.start-button:hover {
    background-color: rgb(226, 199, 46);
}

.start-button:active {
    background-color: rgb(255, 222, 38);
}

.start-button,
.start-button:hover,
.start-button:active,
.start-button:focus {
    outline: none;
}